flow.json
[{"id":"36cb885c.2b9458","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"94a88f49.f5bf8","type":"inject","z":"36cb885c.2b9458","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":100,"wires":[["4dd085a9.a87bac"]]},{"id":"4dd085a9.a87bac","type":"debug","z":"36cb885c.2b9458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":240,"wires":[]},{"id":"bf0ceac8.e9f818","type":"status","z":"36cb885c.2b9458","name":"","scope":null,"x":180,"y":220,"wires":[["4dd085a9.a87bac","d8678acf.3b4178"]]},{"id":"d8678acf.3b4178","type":"debug","z":"36cb885c.2b9458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":400,"wires":[]},{"id":"226654f7.6da8cc","type":"status","z":"36cb885c.2b9458","name":"","scope":null,"x":180,"y":220,"wires":[["9086c907.36a0c8","6e1a5e5c.d4f87","9a6bc8ee.8a8848"]]},{"id":"6e1a5e5c.d4f87","type":"debug","z":"36cb885c.2b9458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":140,"wires":[]},{"id":"7dff0d7c.ac91b4","type":"debug","z":"36cb885c.2b9458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":40,"wires":[]},{"id":"9086c907.36a0c8","type":"debug","z":"36cb885c.2b9458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":360,"wires":[]},{"id":"9a6bc8ee.8a8848","type":"function","z":"36cb885c.2b9458","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":40,"wires":[["7dff0d7c.ac91b4"]]}]