flow.json
[{"id":"36cb885c.2b9458","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"94a88f49.f5bf8","type":"inject","z":"36cb885c.2b9458","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":100,"wires":[["4dd085a9.a87bac"]]},{"id":"4dd085a9.a87bac","type":"debug","z":"36cb885c.2b9458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":240,"wires":[]},{"id":"bf0ceac8.e9f818","type":"status","z":"36cb885c.2b9458","name":"","scope":null,"x":180,"y":220,"wires":[["4dd085a9.a87bac","d8678acf.3b4178"]]},{"id":"d8678acf.3b4178","type":"debug","z":"36cb885c.2b9458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":400,"wires":[]},{"id":"226654f7.6da8cc","type":"status","z":"36cb885c.2b9458","name":"","scope":null,"x":180,"y":220,"wires":[[]]}]